interactions:
- request:
    body: null
    headers:
      Authorization:
      - FAKE
    method: GET
    uri: https://dashboard.hohonu.io/api/v1/stations/hohonu-169/waterlevel?from=2025-09-30&to=2025-10-01&datum=NAVD&qc_level=1&predictions=false
  response:
    body:
      string: '{"meta":{"location":"Department of Marine Resources, Boothbay Harbor","station_id":"hohonu-169","data_source":"Hohonu","measurement_type":"tidal","datum":{"label":"NAVD88","unit":"ft"}},"data":{"waterlevel":[{"t":"2025-09-30T00:00:03Z","o":0.29},{"t":"2025-09-30T00:00:33Z","o":0.27},{"t":"2025-09-30T00:01:03Z","o":0.25},{"t":"2025-09-30T00:01:33Z","o":0.23},{"t":"2025-09-30T00:02:03Z","o":0.2},{"t":"2025-09-30T00:02:33Z","o":0.18},{"t":"2025-09-30T00:03:03Z","o":0.16},{"t":"2025-09-30T00:03:33Z","o":0.14},{"t":"2025-09-30T00:04:03Z","o":0.12},{"t":"2025-09-30T00:04:33Z","o":0.1},{"t":"2025-09-30T00:05:03Z","o":0.08},{"t":"2025-09-30T00:05:33Z","o":0.07},{"t":"2025-09-30T00:06:03Z","o":0.04},{"t":"2[...]
