services:
  db:
    image: timescale/timescaledb-ha:pg17-ts2.21@sha256:a2f4731fd341e93a96fdc49f21137db0ec27bd3d72a5dab241fec2b344f2f54c
    ports:
      - "${BUOY_RETRIEVER_DB_PORT:-5432}:5432"
    env_file:
      - ./docker-data/secret.env
    environment:
      PGDATA: /var/lib/postgresql/data/PGDATA
    volumes:
      - ./docker-data/postgres:/var/lib/postgresql/data:cached
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 5

  # cache:
  #   image: redis:6.0.7@sha256:0ab24e410ae42f99f1e861bd351b5ce7ca8c9eec7886c979a8650ba7fc18ad3b

  # queue:
  #   image: redis:6.0.7@sha256:0ab24e410ae42f99f1e861bd351b5ce7ca8c9eec7886c979a8650ba7fc18ad3b

  spotlight:
    image: ghcr.io/getsentry/spotlight:latest
    ports:
      - "${BUOY_RETRIEVER_SPOTLIGHT_PORT:-8969}:8969"

  backend:
    build:
      context: ./backend
      target: develop
    image: buoy_retriever_backend
    command: "python manage.py runserver 0:8080"
    volumes:
      - ./backend:/home/uwsgi:cached
      - /home/uwsgi/.pixi
      - ./docker-data/media:/media:cached
      - ./docker-data/static:/static:cached
    ports:
      - "${BUOY_RETRIEVER_BACKEND_PORT:-8080}:8080"
    env_file:
      - ./docker-data/common.env
      - ./docker-data/secret.env
    environment:
      BACKEND_ENV: dev
      POSTGRES_HOST: db
      # CACHE_HOST: cache
      # QUEUE_HOST: queue
    depends_on:
      db:
        condition: service_healthy
      # - cache
      # - queue

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    command: npm run dev
    stdin_open: true
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
      - /app/.next/
      - /app/build/
    ports:
      - "${BUOY_RETRIEVER_FRONTEND_PORT:-3000}:3000"
    environment:
      NEXT_PUBLIC_BACKEND_URL: http://backend:8080

  dagster_postgres:
    image: timescale/timescaledb-ha:pg17-ts2.21@sha256:a2f4731fd341e93a96fdc49f21137db0ec27bd3d72a5dab241fec2b344f2f54c
    environment:
      PGDATA: /var/lib/postgresql/data/PGDATA
    env_file:
      - ./docker-data/dagster.env
    volumes:
      - ./docker-data/dagster_postgres:/var/lib/postgresql/data:cached
    ports:
      - "${BUOY_RETRIEVER_DAGSTER_DB_PORT:-5433}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 5

  dagster_daemon:
    build: ./pipeline/_dagster
    command:
    - dagster-daemon
    - run
    env_file:
    - ./docker-data/dagster.env
    volumes:
      - ./pipeline/_dagster/workspace.yaml:/home/ioos/workspace.yaml
      - ./pipeline/_dagster/dagster.yaml:/home/ioos/dagster.yaml
      - ./docker-data/dagster_home/storage:/home/ioos/storage
    depends_on:
      dagster_postgres:
        condition: service_healthy

  dagster_ui:
    build: ./pipeline/_dagster
    env_file:
    - ./docker-data/dagster.env
    ports:
      - "${BUOY_RETRIEVER_DAGSTER_UI_PORT:-3002}:3002"
    volumes:
      - ./pipeline/_dagster/workspace.yaml:/home/ioos/workspace.yaml
      - ./pipeline/_dagster/dagster.yaml:/home/ioos/dagster.yaml
      - ./docker-data/dagster_home/storage:/home/ioos/storage
    depends_on:
      dagster_postgres:
        condition: service_healthy
      dagster_daemon:
        condition: service_started

  s3_timeseries:
    build:
      context: .
      dockerfile: ./pipeline/s3_timeseries/Dockerfile
      args:
        IMAGE_TAG: s3_timeseries_dev
    env_file:
    - ./docker-data/common.env
    - ./docker-data/dagster.env
    - ./docker-data/secret.env
    volumes:
      - ./pipeline/s3_timeseries:/home/ioos:cached
      - /home/ioos/.pixi
      - ./common/:/home/ioos/common/:cached
      - ./docker-data/shared-fs:/mnt/efs/
    depends_on:
      backend:
        condition: service_started

  hohonu:
    build:
      context: .
      dockerfile: ./pipeline/hohonu/Dockerfile
      args:
        IMAGE_TAG: hohonu_dev
    env_file:
    - ./docker-data/common.env
    - ./docker-data/dagster.env
    - ./docker-data/secret.env
    volumes:
      - ./pipeline/hohonu:/home/ioos:cached
      - /home/ioos/.pixi
      - ./common/:/home/ioos/common/:cached
      - ./docker-data/shared-fs:/mnt/efs/
    depends_on:
      backend:
        condition: service_started
