name: Pipeline - Hohonu

on:
    push:
        branches:
            - main
        paths:
            - common/**
            - pipeline/hohonu/**
    pull_request:
        paths:
            - common/**
            - pipeline/hohonu/**
    workflow_dispatch:

jobs:
    shortsha:
        uses: ./.github/workflows/_shortsha.yml

    build_test_push:
        needs: [shortsha]
        uses: ./.github/workflows/_build_image.yml
        with:
            working_directory: ./pipeline/hohonu
            image_name: buoy_retriever_hohonu
            image_tag: ${{ needs.shortsha.outputs.shortsha }}
            # push_image: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
            test_command: "pixi run pytest --cov=. --cov-report=xml --cov-report=term-missing --junitxml=junit.xml -o junit_family=legacy"
            upload_coverage: true
            upload_tests: true

    # deploy:
    #     needs: [shortsha, build_test_push]
    #     uses: ./.github/workflows/bump_dagster_argo.yml
    #     if: ${{ github.repository == 'gulfofmaine/buoy_retriever' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch') }}
    #     with:
    #         app_path: ./apps/sea-eagle/hohonu.yaml
    #         image_tag: ${{ needs.shortsha.outputs.shortsha }}
    #         image_name: buoy_retriever_hohonu
    #     secrets:
    #         GITOPS_TOKEN: ${{ secrets.GITOPS_TOKEN }}
