name: Pipeline - S3 Timeseries

on:
    push:
        branches:
            - main
        paths:
            - common/**
            - pipeline/s3_timeseries/**
    pull_request:
        paths:
            - common/**
            - pipeline/s3_timeseries/**
    workflow_dispatch:

jobs:
    shortsha:
        uses: ./.github/workflows/_shortsha.yml

    build_test_push:
        needs: [shortsha]
        uses: ./.github/workflows/_build_image.yml
        with:
            working_directory: ./pipeline/s3_timeseries
            image_name: buoy_retriever_s3_timeseries
            image_tag: ${{ needs.shortsha.outputs.shortsha }}
            # push_image: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
            build_target: test
            test_command: "pixi run pytest --cov=. --cov-report=xml --cov-report=term-missing --junitxml=junit.xml -o junit_family=legacy"
            coverage_flags: s3_timeseries
            upload_tests: true

    # deploy:
    #     needs: [shortsha, build_test_push]
    #     uses: ./.github/workflows/bump_dagster_argo.yml
    #     if: ${{ github.repository == 'gulfofmaine/buoy_retriever' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch') }}
    #     with:
    #         app_path: ./apps/sea-eagle/s3_timeseries.yaml
    #         image_tag: ${{ needs.shortsha.outputs.shortsha }}
    #         image_name: buoy_retriever_s3_timeseries
    #     secrets:
    #         GITOPS_TOKEN: ${{ secrets.GITOPS_TOKEN }}
